body {
    margin-top: 50px;
    margin-bottom: 50px;
}

.container {
    width: auto;
    max-width: 900px;
    padding: 0 15px;
}

.container .footer-text {
    margin: 20px 0;
}

.badge {
    background-color: #e4aa48;
    margin-left: 5px;
}

.label {
    margin-right: 4px;
}

.panel {
    margin-top: 20px;
}

button.link {
    background: none;
    border: none;
    margin: 0;
    padding: 3;
    outline: none;
    outline-offset: 0;
    color: white
}

.content-book {
    max-height: 200px;
    height: 180px;
}

.img-book {
    height: 120px;
    max-height: 130px;
}